@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ModerateViolet: hsl(263, 55%, 52%);
    --DarkGrayishBlue: hsl(217, 19%, 35%);
    --DarkBlackishBlue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --LightWhite: hsl(0, 50%, 100%);
    --HeavyWhite: hsl(0, 70%, 100%);
    --LightGray: hsl(0, 0%, 81%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

body {
    background: var(--LightGrayishBlue);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 0.8125rem;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

.main-content {
    padding: 1.56rem;
    display: flex;
    flex-direction: column;
}

.tags, h2 {
    color: var(--LightWhite);
}

.reviews, .header-reviews {
    color: var(--HeavyWhite);
}

.new-header, .white-reviews, .new-tags, .new-reviews {
    color: var( --DarkBlackishBlue);
}


.card {
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    max-width: 350px;
}

.card:nth-of-type(1) {
    background-color: var(--ModerateViolet);
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: right 20px top 5px;
}

.card:nth-of-type(2) {
    background-color: var(--DarkGrayishBlue);
}

.card:nth-of-type(3), .card:nth-of-type(5) {
    background-color: var(--White);
}

.card:nth-of-type(4) {
    background-color: var(--DarkBlackishBlue);
}

img {
    border-radius: 50%;
    margin-right: 1.25rem;
    height: 2.5rem;
}

.daniel {
    border: 2px solid var(--LightWhite);
}
.patrick {
    border: 2px solid var(--ModerateViolet);
}

.heading {
    display: flex;
    align-items: center;
}

.text-content {
    display: flex;
    flex-direction: column;   
}

.text-content h2, .new-header {
    margin-bottom: 0;
}

.tags, .new-tags {
    margin-top: 0;
    line-height: 1.3;
}